In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Question1. Write a python program to display all the header tags from wikipedia.org and make data frame

In [ ]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
# every head line i.e., inside header tag, their order is Header tag > span > class name = mw-headline

In [ ]:
header = []

In [ ]:
for i in soup.find_all('span',class_="mw-headline"):
    header.append(i.text)

In [ ]:
header

In [ ]:
df = pd.DataFrame({"Headers":header})

In [ ]:
df

### Question2. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team andrating.

c) Top 10 ODI bowlers along with the records of their team andrating.

In [ ]:
# The top 10 ODI teams in men page> https://www.icc-cricket.com/rankings/mens/team-rankings/odi
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
# Span > u-hide-phablet
Teams = []

In [ ]:
for i in soup.find_all('span', class_="u-hide-phablet"):
    Teams.append(i.text)
Teams

In [ ]:
Matches = []
Matches_Points = []

In [ ]:
first_team_matches = soup.find('td', class_="rankings-block__banner--matches")
Matches.append(first_team_matches.text)

for i in soup.find_all('td', class_="table-body__cell u-center-text"):
    Matches_Points.append(i.text)
Matches_Points
for i in range(0,len(Matches_Points),2):
    Matches.append(Matches_Points[i])
#     print(Matches_Points[i])
Matches

In [ ]:
Points = []

In [ ]:
first_team_points = soup.find('td', class_="rankings-block__banner--points")
Points.append(first_team_points.text)

for i in range(1,len(Matches_Points),2):
    Points.append(Matches_Points[i])
#     print(Matches_Points[i])
Points

In [ ]:
Rating = []

In [ ]:
first_team_rating = soup.find('td', class_="rankings-block__banner--rating u-text-right")
first_team_rating_text = first_team_rating.text
first_team_rating_text = first_team_rating_text.replace("\n","")
first_team_rating_text = first_team_rating_text.replace(" ","")
first_team_rating_text
Rating.append(first_team_rating_text)

for i in soup.find_all('td', class_="table-body__cell u-text-right rating"):
    Rating.append(i.text)
Rating

In [ ]:
df = pd.DataFrame({"Team_Name":Teams,"Matches":Matches,"Points":Points,"Ratings":Rating})
df

In [ ]:
df = df.head(10)
df

In [ ]:
# For the second part of the question 3 it is not mentioned if the top10 ODI batsmens should be male or female
# So considering it can be both male or female
# We will scrape both male and female > sort by order of ranking > save the top 10

In [ ]:
# Scraping Mens data
# https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting

In [ ]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
Player_name = []
name_formatting=""

In [ ]:
first_player = soup.find('div',class_='rankings-block__banner--name-large')
Player_name.append(first_player.text)
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    name_formatting = i
    name_formatting = name_formatting.text
    name_formatting = name_formatting.replace("\n","")
    Player_name.append(name_formatting)
Player_name

In [ ]:
Player_team = []
first_team = soup.find('div',class_='rankings-block__banner--nationality')
first_team = first_team.text.replace("\n","")
first_team
Player_team.append(first_team)
for i in soup.find_all('span',class_='table-body__logo-text'):
    Player_team.append(i.text)
Player_team

In [ ]:
Player_Rating = []

In [ ]:
first_rating = soup.find("div",class_="rankings-block__banner--rating")
Player_Rating.append(first_rating.text)

for i in soup.find_all("td",class_="table-body__cell rating"):
    Player_Rating.append(i.text)
Player_Rating

In [ ]:
# Scraping Womens data
# https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting

In [ ]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
first_player = soup.find('div',class_='rankings-block__banner--name-large')
Player_name.append(first_player.text)
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    name_formatting = i
    name_formatting = name_formatting.text
    name_formatting = name_formatting.replace("\n","")
    Player_name.append(name_formatting)
Player_name

In [ ]:
first_team = soup.find('div',class_='rankings-block__banner--nationality')
first_team = first_team.text.replace("\n","")
first_team
Player_team.append(first_team)
for i in soup.find_all('span',class_='table-body__logo-text'):
    Player_team.append(i.text)
Player_team

In [ ]:
first_rating = soup.find("div",class_="rankings-block__banner--rating")
Player_Rating.append(first_rating.text)

for i in soup.find_all("td",class_="table-body__cell rating"):
    Player_Rating.append(i.text)
Player_Rating

In [ ]:
df = pd.DataFrame({"Player":Player_name,"Team":Player_team,"Rating":Player_Rating})
df

In [ ]:
df = df.sort_values(by='Rating', ascending=False)
df

In [ ]:
df = df.head(10)
df

In [ ]:
# For the Third part of the question 3 it is not mentioned if the top10 ODI bowlers should be male or female
# So considering it can be both male or female
# We will scrape both male and female > sort by order of ranking > save the top 10

In [ ]:
# scraping mens data > https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling

In [ ]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
soup

In [ ]:
Player_name_bowlers=[]

In [ ]:
first_player = soup.find('div',class_='rankings-block__banner--name-large')
Player_name_bowlers.append(first_player.text)
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    name_formatting = i
    name_formatting = name_formatting.text
    name_formatting = name_formatting.replace("\n","")
    Player_name_bowlers.append(name_formatting)
Player_name_bowlers

In [ ]:
Player_team_bowlers=[]

In [ ]:
first_team = soup.find('div',class_='rankings-block__banner--nationality')
first_team = first_team.text.replace("\n","")
first_team
Player_team_bowlers.append(first_team)
for i in soup.find_all('span',class_='table-body__logo-text'):
    Player_team_bowlers.append(i.text)
Player_team_bowlers

In [ ]:
Player_rating_bowlers=[]

In [ ]:
first_rating = soup.find("div",class_="rankings-block__banner--rating")
Player_rating_bowlers.append(first_rating.text)

for i in soup.find_all("td",class_="table-body__cell rating"):
    Player_rating_bowlers.append(i.text)
Player_rating_bowlers

In [ ]:
# Extracting womens data > https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling

In [ ]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling")
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
first_player = soup.find('div',class_='rankings-block__banner--name-large')
Player_name_bowlers.append(first_player.text)
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    name_formatting = i
    name_formatting = name_formatting.text
    name_formatting = name_formatting.replace("\n","")
    Player_name_bowlers.append(name_formatting)
Player_name_bowlers

In [ ]:
first_team = soup.find('div',class_='rankings-block__banner--nationality')
first_team = first_team.text.replace("\n","")
first_team
Player_team_bowlers.append(first_team)
for i in soup.find_all('span',class_='table-body__logo-text'):
    Player_team_bowlers.append(i.text)
Player_team_bowlers

In [ ]:
first_rating = soup.find("div",class_="rankings-block__banner--rating")
Player_rating_bowlers.append(first_rating.text)

for i in soup.find_all("td",class_="table-body__cell rating"):
    Player_rating_bowlers.append(i.text)
Player_rating_bowlers

In [ ]:
df = pd.DataFrame({"Bowler:":Player_name_bowlers,"Team":Player_team_bowlers,"Rating":Player_rating_bowlers})
df

In [ ]:
df = df.sort_values(by='Rating', ascending=False)
df

In [ ]:
df = df.head(10)
df

###  Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [ ]:
# https://www.icc-cricket.com/rankings/womens/team-rankings/odi

In [ ]:
# top 10 womens ODI Teams

In [ ]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
# Span > u-hide-phablet
Teams = []

In [ ]:
for i in soup.find_all('span', class_="u-hide-phablet"):
    Teams.append(i.text)
Teams

In [ ]:
Matches = []
Matches_Points = []

In [ ]:
first_team_matches = soup.find('td', class_="rankings-block__banner--matches")
Matches.append(first_team_matches.text)

for i in soup.find_all('td', class_="table-body__cell u-center-text"):
    Matches_Points.append(i.text)
Matches_Points
for i in range(0,len(Matches_Points),2):
    Matches.append(Matches_Points[i])
#     print(Matches_Points[i])
Matches

In [ ]:
Points = []

In [ ]:
first_team_points = soup.find('td', class_="rankings-block__banner--points")
Points.append(first_team_points.text)

for i in range(1,len(Matches_Points),2):
    Points.append(Matches_Points[i])
#     print(Matches_Points[i])
Points

In [ ]:
Rating = []

In [ ]:
first_team_rating = soup.find('td', class_="rankings-block__banner--rating u-text-right")
first_team_rating_text = first_team_rating.text
first_team_rating_text = first_team_rating_text.replace("\n","")
first_team_rating_text = first_team_rating_text.replace(" ","")
first_team_rating_text
Rating.append(first_team_rating_text)

for i in soup.find_all('td', class_="table-body__cell u-text-right rating"):
    Rating.append(i.text)
Rating

In [ ]:
df = pd.DataFrame({"Team_Name":Teams,"Matches":Matches,"Points":Points,"Ratings":Rating})
df

In [ ]:
df = df.head(10)
df

In [ ]:
# Top 10 women’s ODI Batting players along with the records of their team and rating.
# https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting

In [ ]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
Player_name = []
first_player = soup.find('div',class_='rankings-block__banner--name-large')
Player_name.append(first_player.text)
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    name_formatting = i
    name_formatting = name_formatting.text
    name_formatting = name_formatting.replace("\n","")
    Player_name.append(name_formatting)
Player_name

In [ ]:
Player_team = []
first_team = soup.find('div',class_='rankings-block__banner--nationality')
first_team = first_team.text.replace("\n","")
first_team
Player_team.append(first_team)
for i in soup.find_all('span',class_='table-body__logo-text'):
    Player_team.append(i.text)
Player_team

In [ ]:
Player_Rating = []
first_rating = soup.find("div",class_="rankings-block__banner--rating")
Player_Rating.append(first_rating.text)

for i in soup.find_all("td",class_="table-body__cell rating"):
    Player_Rating.append(i.text)
Player_Rating

In [ ]:
df = pd.DataFrame({"Player":Player_name,"Team":Player_team,"Rating":Player_Rating})
df = df.head(10)
df

In [ ]:
# Top 10 women’s ODI all-rounder along with the records of their team and rating.
# https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder

In [ ]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
Player_name = []
first_player = soup.find('div',class_='rankings-block__banner--name-large')
Player_name.append(first_player.text)
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    name_formatting = i
    name_formatting = name_formatting.text
    name_formatting = name_formatting.replace("\n","")
    Player_name.append(name_formatting)
Player_name

In [ ]:
Player_team = []
first_team = soup.find('div',class_='rankings-block__banner--nationality')
first_team = first_team.text.replace("\n","")
first_team
Player_team.append(first_team)
for i in soup.find_all('span',class_='table-body__logo-text'):
    Player_team.append(i.text)
Player_team

In [ ]:
Player_Rating = []
first_rating = soup.find("div",class_="rankings-block__banner--rating")
Player_Rating.append(first_rating.text)

for i in soup.find_all("td",class_="table-body__cell rating"):
    Player_Rating.append(i.text)
Player_Rating

In [ ]:
df = pd.DataFrame({"Player":Player_name,"Team":Player_team,"Rating":Player_Rating})
df = df.head(10)
df

### 5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame

i) Headline

ii) Time

iii) News Link

In [ ]:
# https://www.cnbc.com/world/?region=world

In [ ]:
page = requests.get("https://www.cnbc.com/world/?region=world")
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
Headline = []
Time = []
Link = []

In [ ]:
for i in soup.find_all("a", class_="LatestNews-headline"):
    Headline.append(i.text)
Headline

In [ ]:
for i in soup.find_all("time", class_="LatestNews-timestamp"):
    Time.append(i.text)
Time

In [ ]:
for i in soup.find_all("a", class_="LatestNews-headline"):
    Link.append(i['href'])
Link

In [ ]:
df = pd.DataFrame({"Headline":Headline,"Time":Time,"Link":Link})
df

### Question6. Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles 
### Scrape below mentioned details and make data frame

i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [ ]:
# https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

In [ ]:
page = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
Title = []
Authors = []
Date = []
URL = []

In [ ]:
for i in soup.find_all("h2",class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    Title.append(i.text)

In [ ]:
for i in soup.find_all("span",class_="sc-1w3fpd7-0 dnCnAO"):
    Authors.append(i.text)
Authors

In [ ]:
for i in soup.find_all("span",class_="sc-1thf9ly-2 dvggWt"):
    Date.append(i.text)
Date

In [ ]:
for i in soup.find_all("a",class_="sc-5smygv-0 fIXTHm"):
    URL.append(i['href'])
URL

In [ ]:
df = pd.DataFrame({"Paper Title":Title,"Authors":Authors,"Published Date":Date,"Paper URL":URL})
df

### 7) Write a python program to scrape mentioned details from dineout.co.inand make data frame
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [ ]:
# https://www.dineout.co.in/delhi-restaurants/buffet-special

In [ ]:
page = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
Name = []
Cuisine = []
Location = []
Ratings = []
Image = []

In [ ]:
for i in soup.find_all("a", class_="restnt-name ellipsis"):
    Name.append(i.text)
Name

In [ ]:
import re
pattern = re.compile(r'₹.*\|\s')

In [ ]:
for i in soup.find_all("span", class_="double-line-ellipsis"):
    Cuisine.append(re.sub(pattern,'',i.text))
Cuisine
#     print(re.sub(pattern,'',i.text))

In [ ]:
for i in soup.find_all("div", class_="restnt-loc ellipsis"):
#     print(i.text)
    Location.append(i.text)
Location

In [ ]:
for i in soup.find_all("div", class_="restnt-rating rating-4"):
#     print(i.text)
    Ratings.append(i.text)
Ratings

In [ ]:
for i in soup.find_all("img", class_="no-img"):
#     print(i['data-src'])
    Image.append(i['data-src'])
Image

In [352]:
df = pd.DataFrame({"Restaurant Name":Name,"Cuisine":Cuisine,"Location":Location,"Ratings":Ratings,"ImageURL":Image})
df

,Restaurant Name,Cuisine,Location,Ratings,ImageURL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
7,The Barbeque Times,"North Indian, Continental, Chinese, South Indian","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...